<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="crmnxTeam" value="https://nuget.pkg.github.com/crmnx-team/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <crmnxTeam>
      <add key="Username" value="1ea51cbc338bf8bda8bfc453bf361a9ec2863f1a" />
      <add key="ClearTextPassword" value="1ea51cbc338bf8bda8bfc453bf361a9ec2863f1a" />
    </crmnxTeam>
  </packageSourceCredentials>
</configuration>
